<ul class="nav nav-tabs">
  <li class='active'>
    <%= link_to "Staffing Questions", staffing_project_path(1) %>
  </li>
  <li>
  	<%= link_to "Staffing Questions", edit_answer_requirement_q_path(1) %>
  </li>
  <li>
    <%= link_to "Test", "http://google.com" %>
  </li>
</ul>

<h1>Editing project</h1>

<%= render 'form' %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>


